* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}
section ul{
    display: flex;
    margin-bottom: 1-px;

}

section ul li{
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}